$TTL 1D
@	IN SOA	@ {{ domain }}. (
				{{ serial_output['stdout'] }}	; serial
					1D	; refresh
					1H	; retry
					1W	; expire
					3H )	; minimum
	NS	@
	A	{{ ip }}
	MX	1	{{ fqdn }}.
{{ shortname }}	A	{{ ip }}
